.mapa-talleres {
    display: flex;
}

.buscador-container {
    display: flex;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#barra_buscador {
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btnBuscar, .btn-volver {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#btnBuscar:hover, .btn-volver:hover {
    background-color: #0056b3;
}

#lista-talleres {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
}

.tarjeta {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.tarjeta h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.tarjeta p {
  margin: 5px 0;
  font-size: 14px;
}

.tarjeta:hover {
  transform: scale(1.03);
}

.talleres-container {
  float: left;
}

.tarjeta.resaltada {
  border: 1px solid rgb(15, 15, 31);
  background-color: #7294b4;
}

.detalle {
  display: none;
}

.tarjeta.expandida .detalle {
  display: block;
}
